<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ArtemTest</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>
    @font-face {
      font-family: 'lsfontset';
      src: url('./assets/font/lsfontset.eot?78410736');
      src: url('./assets/font/lsfontset.eot?78410736#iefix') format('embedded-opentype'),
        url('./assets/font/lsfontset.woff?78410736') format('woff'),
        url('./assets/font/lsfontset.ttf?78410736') format('truetype'),
        url('./assets/font/lsfontset.svg?78410736#lsfontset') format('svg');
      font-weight: normal;
      font-style: normal;
    }
  </style>
</head>

<body>
  <app-root></app-root>
</body>

</html>