<!-- Content for the middle of the main center component -->
<div class="main-content">
<h1>Send Logs</h1>
<p>
    For sending logs (usage) from your application you will need to have a   <a href="https://github.com/labshare/logging-api">LoggingAPI</a> instance up 
    and you can use following setup:
  
</p>

<div>

    <h3>config/default.js</h3>
    <pre  class="language-json5"><code [innerHTML]="configurationCode"></code></pre>
    <h3>Code</h3>
    <pre class="language-ts" ><code [innerHTML]="sourceCode"></code></pre>
<button type="button"  class="btn btn-primary btn-sm">Info</button>
<button type="button" class="btn btn-danger btn-sm">Error</button>
</div>
</div>