/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~font-awesome/css/font-awesome.css";
@import "~@labshare/ls-font/css/lsfontset.css";
@import '~bootstrap/scss/bootstrap.scss';
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "PT Sans", sans-serif;
}