<div class="row" [formGroup]="localGroup">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field Name</th>
                    <th>Label</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody formArrayName="fields">
                <tr *ngFor="let item of fields.controls; let i = index;" [formGroupName]="i">
                    <td>
                        <input type="text" maxlength="50" formControlName="name" class="form-control" required>
                    </td>
                    <td>
                        <input type="text" maxlength="50" formControlName="label" class="form-control" required>
                    </td>
                    <td>
                        <select class="form-control" formControlName="type" required>
                            <option *ngFor="let option of options" [ngValue]="option">{{ option }}</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm" [hidden]="localGroup.disabled" (click)="remove(i)">
                            <i class="fa fa-2x fa-times text-danger"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" (click)="add()" [hidden]="localGroup.disabled" title="Add Partner">Add Field
        </button>
    </div>
</div>